button {
    margin:10px 15px;
}
.container {
    border: 1px solid rgba(163, 157, 157, 0.747);
    margin: 20px 20px;
    /* display: flex;
    flex-wrap: wrap; */
}
.subHeader {
    margin-left: 20px;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .mat-drawer {
    background-color: #333;
  }