<h1>About Us</h1>
<p>
  Whether you’re a mom-and-pop shop, a weekend crafter, or a massive global brand, Shopify makes it easy to start an ecommerce online store.
   We integrate with over 100 external payment gateways, making it easy to accept orders from customers around the world.
</p>
<p>
  With Shopify, you get access to over 70 professional store templates for your ecommerce online store and complete control 
  over every aspect of its look and feel, from domain name to layout, colors and content — all with no coding or design experience required.
</p>
<p>
  Plus, Shopify is the only ecommerce platform that lets business owners sell directly on the world’s biggest websites and apps.
   In just a few clicks, you can make your ecommerce online store products buyable on the social networks and online
    marketplaces people use every day.
</p>
