<!-- <ul>
  <li><a href="#" (click)="onSelect($event.target.text)">Home</a></li>
  <li><a href="#" (click)="onSelect($event.target.text)">About</a></li>
  <li><a href="#" (click)="onSelect($event.target.text)">Products</a></li>
  <li><a href="#">Contact</a></li>
</ul> -->
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav">
      <!-- <p>Menu</p> -->
      <ul>
        <li><a href="#" (click)="onSelect($event.target.text)">Home</a></li>
        <li><a href="#" (click)="onSelect($event.target.text)">About</a></li>
        <li><a href="#" (click)="onSelect($event.target.text)">Products</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
  </mat-drawer>
  <div class="sidenav-content">
      <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
</mat-drawer-container>