<!-- nav bar logic -->
<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav">
        <ul>
            <li><a href="#" (click)="onSelect($event.target.text)">Home</a></li>
            <li><a href="#" (click)="onSelect($event.target.text)">About</a></li>
            <li><a href="#" (click)="onSelect($event.target.text)">Products</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </mat-drawer>
    <div class="sidenav-content">
        <button mat-icon-button (click)="drawer.toggle()">
            <div class="icondiv"><mat-icon>menu</mat-icon></div>
        </button>
    </div>
    <!-- components -->
    <main>
        
        <div >
                <div class="social-header">
                        <app-social></app-social>
                </div>
            <app-header></app-header>
        </div>
        
        <app-home *ngIf="loadedPage === 'Home'"></app-home>
        <app-cards-body (backUp)="backUp()" *ngIf="loadedPage === 'Products'"></app-cards-body>
        <app-about *ngIf="loadedPage === 'About'"></app-about>
        <!-- <app-social></app-social> -->
        <app-footer></app-footer>
    </main>
</mat-drawer-container>

