
main {
    margin: 1% 5%;
    padding: 2%;
}

.container {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container .mat-drawer {
    padding-left:20px;
    min-width: 200px;
}

button {
    margin-left:  6.4%;
    padding-bottom: 0%;
    top: 70px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  .mat-drawer {
    background-color: #333;
  }
.icondiv {
  font-size: 100px;
  position: sticky;
  }

 .social-header {
  margin-left:90%;
 }
  
 .header-fixed {

 }