<h1>Welcome to Mordi's Angular Shop  !!!!</h1>

<p>
    Welcome to our online store! Our team is proud to announce that we're now open for business,
    and we look forward to serving you all in the future.
    If you have any questions about this store or the products found within, please don't hesitate to contact us any time. 
    Our website has been carefully designed to provide you with an amazingly flexible online shopping experience, 
    and its ease of navigation is something we think you'll grow to depend on and appreciate. Feel free to browse our entire product catalog, 
    and let us know if you have any questions, comments or concerns about the items housed within. 
    Our team is always ready and willing to assist our customers, and we are happy for your visit.  
</p>
<p>
     When making a purchase in our online store, you will notice how easy it is to add products to the shopping cart,
      review every aspect of your order, and enter your payment information in our secure checkout.
       You should also know that we take customer security very seriously and pride ourselves on having our online store powered by 3dcart -
        a Visa PCI certified ecommerce solution - so you can rest comfortably knowing that your sensitive payment info is fully protected, 
        safe and secure at all times.
</p>
<p>
    If you're pleased with the experience and service you've received from us, 
    we encourage you to share that information across your social networks. Word of mouth is a huge traffic driver for our business,
     and your support means the world. If you do elect to sign up for our mailing list or share our products across your social media platforms,
      please know that you do so at your own discretion and you can unsubscribe from, or retract this information at any time.
    If there is anything we can do to enhance your buying experience, please feel free to contact us at your convenience.
     Our mission is to offer impeccable service, and we won't rest until you're completely satisfied. 
</p>